@media (min-width:1366px) {
  .cmpad {
    max-width: 1526.4px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 54px;
    padding-right: 54px;
  }
}

@media (max-width:1366px) {
  .cmpad {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width:991px) {
  .cmpad {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width:767px) {
  .cmpad {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.black {
  background: #000000;
  color: #eaeaea;
}

.footer {
  z-index: 0;
  background-color: white;
  color: #161616;
  height: 100vh;
  margin-top: 5vh;
  padding-top: 2.80em;
  padding-bottom: 2em;
  position: sticky;
  top: 0;

  @media screen and (max-width:600px) {
    height: 100%;
  }
}

.footer h1 {
  font-size: 50px;
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer ul li {
  font-size: 1rem;
  margin: 8px 0;
  font-weight: 300;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* margin-top: 24px; */
}

.footer-end h4 {
  font-size: 1rem;
  font-weight: 400;
}

.footer-end ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-end ul li img {
  width: 30px;
  filter: invert(1) brightness(2);
}

.view-more {
  font-size: 17px;
  padding: 8px 30px;
  min-width: 180px;
  font-weight: 300;
  transition: transform 0.3s ease;
}

/* .view-more:hover{

} */

.view-more.blk {
  border: 1px solid #eaeaea;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #110f0f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer-line {
  background: #aeaeae69;
  opacity: 70;
  height: 1px;
}

.submit-btn {
  background: white;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  /* padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; */
  width: 250px; 
   height: 100px;
  border-radius: 9999px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}